{% extends "layout.html" %}

{% block content %}
<div class="container">
  <table class="table">
    <thead class="table table-dark">
    <tr>
      <th>No.</th>
      <th>Tourist Places</th>
      <th>City</th>
      <th>State</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <td>Statue of Liberty</td>
      <td>New York</td>
      <td>New York</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Walt Disney World</td>
      <td>Orlando</td>
      <td>Florida</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Golden Gate Bridge</td>
      <td>San Francisco</td>
      <td>California</td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>Waikiki Beach</td>
        <td>Waikiki</td>
        <td>Hawaii</td>
    </tr>
     </tbody>
  </table>
</div>

{% endblock %}
